
body{
 background-color: grey;
 font-family: 'Roboto';
  
}
.logo{
  display: flex;
}
.logo h3 {
  margin-top: 10px;

}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: right;
  margin-top: -50px;
}

.navbar li {
  padding: 10px;
}

.navbar button {
  color: white;
  background-color: blue;
  border-radius: 3px;
}

.first {
  display: flex;
}

.about>h2{
 margin-left: 35%;
 color: blue;
}

.about>p{
  text-align: center;
}
.prof{
 border: solid grey;
 width: 300px;
 height: 150px;
 box-shadow: 1px 3px 3px black;
 border: none;
 margin: 30px;
 color:black;
 background-color:white;
 border-radius: 4px;
  
}
.personal{
  display: flex;
  
}
.prep {

background-size: cover;
height: 350px;
background-image: url(images/Website-Design-Background.png);
background-size: 50%;
color: white;
font-style: italic;
font-weight: bold;

}
.Code {
 margin-left: 25%;
 padding: 50px;
}
.Code h2{
  color: blue;
}
.personal{
  display: flex;
  
}

.flogo{
  display: flex;
  margin: 1px;
  padding-top: 10px;
}
.flogo h3 {
  margin-top: 10px;

}

.Copy {
  margin-top: -126px;
}
.Copy p {
  display: flex;
  margin-left: 300px;
  margin-top: 90px;

}
.Copy img{
 float: right;
 margin: 30px;
 margin-top: -40px;
 
}