body {
  background-color: grey;
}


.logo{
  display: flex;
}
.logo h3 {
  margin-top: 10px;

}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: right;
  margin-top: -50px;
}

.navbar li {
  padding: 10px;
}

.navbar button {
  color: white;
  background-color: blue;
  border-radius: 3px;
}

.Profile img {
  margin-left: 55%;
  margin-top: -290px;

}
.intro{
  margin-left: 15%;
}
.intro h1 {
  margin-top: 10%;
}
.image {
    margin-top: -60px;
  }
  .container {
    display: flex;
    margin-left: 80px;
    margin: 40px;
   
     
   
   
   
   }
   .container h3 {
   color:blue;
   }
   
   
   .con {
     border: solid;
     width: 300px;
     height: 230px;
     margin: 10px;
     margin-left: 30px;
     border-radius: 10px;
     margin-left: 70px;
     box-shadow: 2px 5px 10px white;
     border: none;
     text-align: center;
   
   }
   