body {
  background-color: grey;
}


.logo{
  display: flex;
}
.logo h3 {
  margin-top: 10px;

}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: right;
  margin-top: -50px;
}

.navbar li {
  padding: 10px;
}

.navbar button {
  color: white;
  background-color: blue;
  border-radius: 3px;
}