body {
  background-color: grey;
}


.logo{
  display: flex;
}
.logo h3 {
  margin-top: 10px;

}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: right;
  margin-top: -50px;
}

.navbar li {
  padding: 10px;
}

.navbar button {
  color: white;
  background-color: blue;
  border-radius: 3px;
}

.Profile img {
  margin-left: 55%;
  margin-top: -290px;

}
.intro{
  margin-left: 15%;
}
.intro h1 {
  margin-top: 10%;
}
.image {
    margin-top: -60px;
  }
  .container {
    display: flex;
    margin-left: 80px;
    margin: 40px;
   
     
   
   
   
   }
   .container h3 {
   color:blue;
   }
   
   
   .con {
     border: solid;
     width: 300px;
     height: 230px;
     margin: 10px;
     margin-left: 30px;
     border-radius: 10px;
     margin-left: 70px;
     box-shadow: 2px 5px 10px white;
     border: none;
     text-align: center;
   
   }
   .one {
    margin: 20px;
    background-image: url(images/soft1.png);
    
    
    height: 300px;
    }
    .one h3{
      margin-left: 100px;
      padding-top: 100px;
      color: whitesmoke;
      font-style: italic;
      font-weight: bold;
    }
    
    
    
    
    
    
    
    .contact {
    width: 200px; 
    height: 100px;
      border: solid grey;
    border-radius: 5px;
    margin-left: 35%;
    text-align: center;
    margin-top: -125px;
    
    }

    form {

      align-items: center;
      text-align: center;
      border: none;
      box-shadow: 1px 5px 10px rgb(67, 67, 121);
      width: 200px;
      height: 200px;
      margin-top: -10%;
      
      
      
      }
      form button {
        background-color: blue;
        color: white;
        border-radius: 9px;
      
      }
      #details button{
        background-color: blue;
        color: white;
        margin-left: 40%;
        padding: 10px;
        border-radius: 0px 15px ;
      }
      .Code{
        margin-left: 200PX;
        padding: 60PX;
      }
      .Code h2{
        color: blue;
      }

      .flogo h3 {
        margin-top: 10px;
      
      }
      .Copy {
        margin-top: -126px;
      }
      .Copy p {
        display: flex;
        margin-left: 300px;
        margin-top: 90px;
      
      }
      .Copy img{
       float: right;
       margin: 30px;
       margin-top: -40px;
       
      }